<?xml version="1.0"?>
<model>
  <name>3DR Iris with hokuyo and realsense</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_sensors.sdf</sdf>

  <author>
   <name>Lorenz Meier and Thomas Gubler</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    iris_sensors
  </description>
</model>
